@mixin flex($direction, $content, $align) {
  display: flex;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $content != null {
    justify-content: $content;
  }

  @if $align != null {
    align-items: $align;
  }
}

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}