$brand_main: #252617;
$accent_one: #58733d;
$accent_two: #41592f;
$accent_three: #d9aa8f;
$brand_light: #f2f2f2;

@layer base {
  :root {
    --token-bg: #f9fafb;
    --token-fg: #1f2937;

    --token-accent-1: #{$accent_one};
    --token-accent-2: #{$accent_two};
    --token-accent-3: #{$accent_three};
  }

  [data-theme="light"] {
    --token-bg: yellow;
    --token-fg: #{$brand_light};

    --token-accent-1: #{$accent_one};
    --token-accent-2: #{$accent_two};
    --token-accent-3: #{$accent_three};
  }

  [data-theme="dark"] {
    --token-bg: red;
    --token-fg: #e5e7eb;

    --token-accent-1: #{$accent_one};
    --token-accent-2: #{$accent_two};
    --token-accent-3: #{$accent_three};
  }
}
