@use "./colors" as c;

@layer base {
  :root {
    --token-bg: #f9fafb;
    --token-fg: #1f2937;
  }

  [data-theme="light"] {
    --token-bg: #{c.$brand_main};
    --token-fg: #{c.$brand_light};
    --token-accent-1: #{c.$accent_one};
    --token-accent-2: #{c.$accent_two};
    --token-accent-3: #{c.$accent_three};
  }

  [data-theme="dark"] {
    --token-bg: #0b1220;
    --token-fg: #e5e7eb;
  }
}
