@use '@/styles/index' as *;

html {
  @include flex(column, center, center);

  width: 100%;
  height: 100%;

  background-color: gray;

  overflow: hidden;

  body {
    @include flex(column, center, center);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid rgb(231, 141, 141);
  }
}
