@use '@/styles/index' as *;

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

html {
  @include flex(null, center, center);

  height: 100vh;

  background-color: $brandGray;
  overflow: hidden;

  body {
    height: 90%;
    max-width: 1440px;
    @include flex(null, center, center);

    margin: 0 auto;

    overflow: hidden;

    a {
      color: inherit;
    }
  }
}
