@use "styles/mixin" as *;

.toggle {
  background-color: white;
  // @include flex(null, center, flex-end);

  height: 10%;

  font-size: 11px;
  line-height: 15px;

  input[type="checkbox"] {
    display: none;
  }

  label {
    position: relative;
    cursor: pointer;
  }

  input[type="checkbox"] + label::before {
    position: absolute;
    top: -20px;
    left: 14px;

    display: block;

    height: 21px;
    width: 45px;

    border: 1px solid var(--token-accent-2);
    border-radius: 5px;

    content: " ";
  }

  input[type="checkbox"] + label::after {
    position: absolute;
    top: -17px;
    left: 17px;

    display: block;

    height: 15px;
    width: 15px;

    border: 1px solid var(--token-accent-2);
    border-radius: 5px;

    background: var(--token-accent-2);
    transition: all 0.3s ease-in;

    content: " ";
  }

  input[type="checkbox"]:checked + label::after {
    left: 41px;
    transition: all 0.3s ease-in;
    background: var(--token-accent-2);
  }
}
