@use "styles/mixin" as *;

.toggle {
  position: relative;

  @include flex(null, center, flex-end);

  width: fit-content;
  height: 3rem;

  padding: 8px;

  font-size: 1rem;
  line-height: 15px;

  border: 1px solid red;

  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
  }

  input[type="checkbox"] + label::before {
    position: absolute;
    top: 0px;
    left: 0px;

    @apply bg-red-600;

    display: block;

    height: 21px;
    width: 70px;

    border: 1px solid var(--token-accent-2);
    border-radius: 16px;

    content: " ";
  }

  input[type="checkbox"] + label::after {
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;

    height: 15px;
    width: 15px;

    border: 1px solid var(--token-accent-2);
    border-radius: 50%;

    background: var(--token-accent-2);
    transition: all 0.3s ease-in;

    content: " ";
  }

  input[type="checkbox"]:checked + label::after {
    left: 52px;
    transition: all 0.3s ease-in;
    background: var(--token-accent-2);
  }
}
