@import "styles/mixins";


//RECHECK NAME
main {
    @include flex_centered;

    height: 100vh;

    overflow: hidden;
}

section {
    @include flex_centered;
  
    width: 90vw;
    height: 90vh;

    border: 10px solid teal;
  }