@import "tailwindcss";
@import "styles/index.scss";

@theme inline {
  --color-bg: var(--token-bg);
  --color-fg: var(--token-fg);

  --color-accent-1: var(--token-accent-1);
  --color-accent-2: var(--token-accent-2);
  --color-accent-3: var(--token-accent-3);
}
