@import "tailwindcss";
@import "./styles/index.scss";

@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-full text-stone-300;

    width: 100%;
    margin: 0 auto;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(6, 117, 125, 1) 50%,
      rgb(102, 0, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h1 {
    @apply text-[4rem] font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
