@import "styles/_font.scss";

* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 8%,
    rgba(36, 51, 93, 1) 50%,
    rgba(29, 106, 111, 1) 91%
  );
  // background-image: url("./assets/bg.jpg");
  background-size: cover;

  zoom: 1;
}

#root {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  transition: 0.5s all ease-in-out;
}

a:hover {
  text-decoration: none;
  color: white;
}
