@import "styles/mixins";

h1 {
  font-size: xx-large;
  font-weight: 900;
}

section {
  @include flex_centered;

  width: 90vw;
  height: 90vh;
}

.homepage {
  width: 100%;

  flex-direction: column;
  justify-content: space-between;

  color: black;

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0 2rem;
    }
  }
}
