@import "styles/mixins";

h1 {
  font-size: xx-large;
  font-weight: 900;
}

.homepage {
  width: 100%;

  flex-direction: column;
  justify-content: space-between;

  > nav > ul {
    display: flex;
    justify-content: space-between;
    
    list-style: none;

    > li {
      margin: 0 10px;
    }
  }

  &_main {
    background-color: yellowgreen;
  }
}
